@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Montserrat:wght@300;400;700&display=swap');

/* Common Styling  */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2.7rem;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 2.2rem;
    line-height: 63px;
    color: #222;
}

h4 {
    font-size: 1.3rem;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 0.89rem;
}

p {
    font-size: 1rem;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 1rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s ease;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/*  Header Section  */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
}

#mobile {
    display: none;
}



#header img,
.footer .col .log {
    border-radius: 50%;
    width: 110px;


}



#header .at,
.footer .col .log {
    position: relative;
    border-radius: 40%;
    padding-right: 20px;
    border: 1px solid rgba(0, 0, 0, 0.295);
    box-shadow: 15px 14px 13px rgba(0, 0, 0, 0.3);
    transition: .5s ease;
}

#header .at:hover,
.footer .col .log:hover {
    box-shadow: 12px 11px 10px rgba(0, 0, 0, 0.1);
}

#header .at a::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}





#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.6s ease color;
}

#navbar li a:hover,
#navbar li a.active {
    color: crimson;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    background: rgb(133, 71, 60);
    position: absolute;
    bottom: -4px;
    left: 20px;

}

#close {
    display: none;
}

/*  Hero Section  */

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("backimg.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    padding: 0 80px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#hero h4 {
    padding-bottom: 15px;
    color: #222;
}

#hero h1 {
    color: #088179;
}

#hero h2 {
    color: #1a1a1a;
}

#hero p {
    color: white;

}

#hero button {
    background-image: url("button.png");
    background-color: transparent;
    color: #088179;
    border: 0;
    padding: 15px 80px 14px 64px;
}

/*  Feature Section  */

#feature .fe-box {
    width: 232px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 10px 10px 25px rgba(175, 20, 20, 0.363);
    border: 1px solid #cce7d0;
    border-radius: 16px;
    margin: 15px 0;
    transition: .5s ease box-shadow;

}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.267);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088179;
    background-color: rgba(192, 128, 211, 0.493);
    ;
}

#feature .fe-box img {
    margin-bottom: 11px;
    width: 100%;


}

#feature {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

#feature .fe-box:nth-child(2) h6 {
    background-color: rgba(0, 223, 19, 0.37);
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgba(0, 238, 255, 0.377);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: rgba(0, 89, 255, 0.377);
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgba(255, 0, 157, 0.342);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: rgba(255, 115, 0, 0.384);
}

/*  Product Section  */

#product1 {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#product1 .pro-container {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

#product1 .pro {
    margin: 15px;
    width: 290px;
    padding: 10px;
    border: 1px solid #222;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.5s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

#product1 .pro img {
    width: 100%;
    border-radius: 15px;

}

#product1 .pro .des {
    text-align: left;
    display: inline-block;
    width: 74%;
}

#product1 .pro .des span {
    font-size: .8rem;
}

#product1 .pro .des h5 {
    color: #1a1a1a;
}

#product1 .pro .des .star i {
    color: crimson;
    font-size: 0.7rem;
    transition: 0.5s ease font-size;
}

#product1 .pro .des .star i:hover {
    font-size: 0.9rem;
}

#product1 .pro .des h4 {
    color: #088179;
}

#product1 .pro a {
    text-align: center;
    border: 1px black;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(163, 215, 224, 0.425);
}

#product1 .pro a i {
    color: crimson;
    margin-top: 6px;
    align-items: center;
    transition: 0.5s ease color;
}

#product1 .pro a i:hover {
    color: #088179;
}

/*  Banner Section  */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;

}

#banner .banner h4 {
    color: #fff;
    font-size: 1rem;
}

#banner .banner h2 {
    color: #fff;
    font-size: 2rem;
    padding: 10px 0;
}

#banner .banner h2 span {
    color: crimson;
}

#banner button:hover {
    background: #088179;
    color: #fff;
}

/*  Sm Banner Section  */

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b17.jpg");
    width: 680px;
    padding: 30px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b10.jpg");
}

#sm-banner h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    margin-left: 26px;
}

#sm-banner h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 26px;

}

#sm-banner span {
    color: black;
    margin: 26px;
}

#sm-banner button.normal {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 15px 30px;
    color: #088179;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.418);
    box-shadow: 20px 20px 18px rgba(0, 0, 0, 0.418);
    transition: 0.5s ease;
    margin: 26px;
}

#sm-banner button:hover {
    background: #088179;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 10px 10px 14px rgba(0, 0, 0, 0.226);
}

/*  Banner3  */

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner-3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b7.jpg");
    min-width: 30%;
    padding: 20px;
    height: 30vh;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

#banner-3 .banner-box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b4.jpg");
}

#banner-3 .banner-box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner/b18.jpg");
}

#banner-3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

#banner-3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 1rem;
}

/*  NewsLetter Section  */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}

#newsletter p {
    font-size: 1rem;
    font-weight: 600;
    color: #818ea0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.13rem;
    padding: 0 1.3rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter button {
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: .9rem;
    font-size: .9rem;
    white-space: nowrap;
    background-color: #088179;
    color: white;
    box-shadow: 16px 16px 18px rgba(0, 0, 0, 0.603);
    cursor: pointer;
    transition: 0.5s ease;
    width: fit-content;
}

#newsletter button:hover {
    box-shadow: 12px 13px 16px rgba(0, 0, 0, 0.37);
    background-color: white;
    color: black;
    font-weight: 500;
}

/*  Footer  */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 30px 20px;
}

.footer .col {
    display: flex;
    flex-direction: column;
}

.footer .col p {
    margin-top: 15px;
    margin-bottom: 8px;
}

.footer .col a {
    text-decoration: none;
    color: #465b52;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s ease color;
}

.footer .col h4 {
    color: #000;
    margin-top: 20px;
    padding-bottom: 20px;
}

.footer .icon i {
    padding-right: 8px;
    color: #0a0a0a;
    cursor: pointer;
    transition: 0.5s ease;
}

.footer .icon i:hover {
    color: #ec544e;
    font-size: 1.1rem;
}

.footer .col a:hover {
    color: #ec544e;
}

.footer .section-p2 {

    margin-left: 15px;
    margin-right: 25px;
}

.footer .col .row .img1 {
    border: 1px solid #088179;
    border-left-color: #222;
    border-right-color: #222;
    border-radius: 10px;
}

.copyright {
    text-align: center;
    padding-bottom: 15px;

}


/*  Media Queries  */



@media(max-width:855px) {
    #navbar {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        transition: 0.5s ease;

    }


    #navbar.active {
        right: 0;
    }



    #navbar li a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
        color: #1a1a1a;
        transition: 0.6s ease color;
    }

    #navbar li a.active::after {

        left: 10;
    }

    #navbar li {
        list-style: none;
        /* padding: 0 20px; */
        position: relative;
        padding-top: 30px;
        margin-bottom: 20px;
        width: 100px;
    }

    #close {
        cursor: pointer;
        position: absolute;
        top: 5px;
        color: #ec544e;
        font-size: 2rem;
        right: 5px;
        display: initial;

    }


    #mobile {
        display: initial;
    }

    #mobile i {
        color: #141212;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    #header {
        padding-right: 30px;
    }

    #bar {
        cursor: pointer;
        display: inline-block;
        text-align: end;
        font-size: 1.7rem;
        width: 40px;
        color: #ec544e;
    }





    /*  Hero Seciton  */

    #hero {

        background-position: center;
        background-size: cover;
        height: 70vh;
        padding: 0 80px;

    }

    #feature {

        justify-content: center;

    }

    #feature .fe-box {
        width: 250px;
        margin: 15px 15px;

    }

    /*  Banner  */

    #banner {

        height: 30vh;

    }



}

@media(max-width:656px) {
    #feature .fe-box {
        width: 183px;

    }

    .section-p1 {
        padding: 20px 20px;
    }
}

@media(min-width:808px) and (max-width:1046px) {
    #product1 .pro-container {

        justify-content: center;

    }

    #product1 .pro {
        margin: 35px;
    }
}

@media(max-width:726px) {
    #product1 .pro-container {

        justify-content: center;

    }

    #product1 .pro {
        margin: 15px;
        width: 280px;

    }
}

@media(max-width:920px) {

    .footer {

        width: 100%;

    }

    .footer .col {

        padding: 10px 10px;
    }

    .footer .col h4 {
        color: #000;
        margin-top: 17px;
        padding-bottom: 17px;
        font-size: 1.1rem;
    }

    .footer .col p {
        margin-top: 13px;
        margin-bottom: 5px;
        font-size: .8rem;
    }

    .footer .col .row .img1 {
        width: 100px;
    }

    .footer .col .row .img {
        width: 80px;
    }

    .footer .col a {

        font-weight: 300;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: .8rem;

    }
}